body {
    background-color:	 #99e6ff;
}

font {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: 'Shrikhand', cursive;
}

p{
  font-size:20px;
  font-family:'Shrikhand', cursive;
}
